<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Odmori" connectionString="Data Source=localhost;Initial Catalog=GodisnjiOdmori;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ParametriUrl" value="http://localhost:5101/api/parametri"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="sr-Latn-RS" uiCulture="sr-Latn-RS"/>
    <authentication mode="Forms"><forms loginUrl="~/Login/Index" timeout="30" name="OdmoriAuth" cookieless="UseCookies"/></authentication>
    <httpCookies httpOnlyCookies="true" sameSite="Lax"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.webServer>
    <handlers><remove name="ExtensionlessUrlHandler-Integrated-4.0"/><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/></handlers>
  </system.webServer>
  <runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly><assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/></dependentAssembly>
    <dependentAssembly><assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/></dependentAssembly>
    <dependentAssembly><assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/><bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/></dependentAssembly>
  </assemblyBinding></runtime>
</configuration>
